<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My App</title>
</head>
<body>
  <div class="container">
    <h1>Welcome to My App</h1>

    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.email %>! <br>
        <%= form_tag destroy_user_session_path, method: :delete do %></p>
          <%= submit_tag 'Sign Out' %>
        <% end %>  
    <% else %>
      <p><%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %></p>
    <% end %>

    <h2>All Products</h2>
    <ul>
      <% @products.each do |product| %>
        <li>
          <strong><%= link_to product.name, product_path(product) %></strong>: <%= product.description %>
        </li>
      <% end %>
    </ul>

    <% if user_signed_in? %>
      <%= link_to 'Create a New Product', new_product_path %>
    <% end %>
  </div>
</body>
</html>
